<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitGat Create</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    <header>
        <img class="logo" src="{{url_for('static', filename='images/logo-nobg.png')}}">
        <div id="userButtons">
            <button onclick="location.href='/'">Profile</button>
            <button onclick="location.href='/logout'">Logout</button>
        </div>
        <br>
    </header>
    <form action="/upload/nft" class="form-user" id="create-form" method="post" enctype="multipart/form-data">
        <div class="heading">Create Your Own NFT</div>
        <label for="name">Name</label><br>
        <input type="text" required name="name"id="name" name="name" required>
        <br>
        <label for="price">Price</label><br>
        <input type="text" required id="price" name="price" required>
        <br>
        <label for="description">Description</label><br>
        <input type="text" required id="description" name="description" required>
        <br>
        <input type="file" required accept="image/*" name="file" id="file">
        <br><br>
        <input class="form-btn" type="submit" value="Create NFT">
    </form>
</body>
</html>
