<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitGat</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    <header>
        <img src="{{url_for('static', filename='images/logo-nobg.png')}}" alt="Logo">
    </header>
    <header>
        <h2 id="welcomeMessage">{{title}}</h2>
        <br>
        <p class="addInfo">{{info1}}</p>
        <p class="addInfo">{{info2}}</p>
        <br>
        <div id="userButtons">
            {% if not logged %}
            <div id="allActions">
                <button onclick="location.href='/login'">Login</button>
                <button onclick="location.href='/register'">Register</button>
            </div>
            {% else %}
            <div id="allActions">
                <button onclick="location.href='/mycollection'">My Collection</button>
                <button onclick="location.href='/marketplace'">Marketplace</button>
                <button onclick="location.href='/user/upload'">Upload NFT</button>
                <button onclick="location.href='/logout'">Logout</button>
            </div>
            {% endif %}
        </div>
    </header>
</body>
</html>
