<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitGat Buy</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    <header>
        <img class="logo" src="{{url_for('static', filename='images/logo-nobg.png')}}">
        <div id="userButtons">
            <button onclick="location.href='/'">Home</button>
        </div>
        <br>
        <div>{{msg}}</div>
    </header>
</body>
</html>
